extends ../layout.pug
block contenido
    section#main-content.full-height.text-center
        .col-md-5.center-block.no-float.top-space.text-left
            h1 Agregar producto
            form(method="post" action="/menu" style="margin-top=1.5em;") 
                .form-group
                    label Nombre
                    input.form-control(type="text" name="title" placeholder="Nombre del producto")
                .form-group
                    label Descripci칩n
                    textarea.form-control(name="description" placeholder="Decripci칩n del producto")
                .form-group
                    label Costo
                    textarea.form-control(type="number" name="pricing" placeholder="Contrase침a")
                .form-group
                    label Contrase침a
                    input.form-control(type="password" name="title" placeholder="Nombre del producto")
                .form-group.text-right
                    label 
                    input.bton.btn-info(type="submit" name="title" value="Guardar")

